@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sofia+Sans+Condensed:wght@300&display=swap");

.cannect-content {
  .logo {
    background-color: #ffffff;
    padding: 16px 50px;
  }

  .logo a {
    display: inline-block;
    max-width: 150px;
  }

  .logo a img {
    width: 100%;
  }
  .container span {
    color: #ff585d;
  }
  .applynow {
    margin-top: 20px;
    border-radius: 50px;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 35px;
  }
  .applynow-clicked,
  .applynow-clicked:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
  }
  .applynow-normal {
    background-color: #ff585d;
    color: #fff;
    border: none;
  }
  .applynow-normal:hover {
    background-color: #ff585d;
    color: #fff;
  }

  .card-img-top {
    max-width: 112px;
    width: 100%;
    max-height: 80px;
    height: auto;
  }

  .PoweredByRow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-bottom: 20px;
    padding-top: 50px;
    margin-top: 50px;
  }

  .PoweredByRow a {
    text-decoration: none;
    color: #002855;
    font-size: 14px;
    font-weight: 600;
  }

  .poweredBy {
    display: flex;
    flex-direction: column;
  }

  .PoweredByRow .brokerageNumber {
    font-size: 10px;
    color: #000;
    font-weight: bold;
    text-align: right;
  }

  .container .content p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding-right: 10px;
    line-height: 24px;
  }

  .container .fromrate {
    font-size: 26px;
    font-weight: 600;
    color: #000;
    margin-left: 20px;
    line-height: 31.25px;
    width: 100%;
  }

  .container .row third {
    display: flex;
    flex-wrap: wrap;
  }

  img.rounded-corners {
    border-radius: 5px;
  }

  h2,
  h3 {
    font-size: 30px;
    line-height: 1.2;
    font-style: normal;
    font-weight: 600;
  }

  .website-name {
    padding: 50px 0;
    background-color: #eb8000;
  }
  .website-name h2 {
    color: #ffffff;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
  }
  .website-name p {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    max-width: 650px;
    line-height: 24px;
    margin: auto;
  }
  .headfirst {
    padding: 30px 0;
  }
  .headfirst h2 {
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
  }
  .headfirst p {
    font-size: 16px;
    line-height: 24px;
  }
  .benefits {
    font-size: 26px !important;
    font-weight: 700;
    text-align: center;
  }
  .benefits-section {
    padding: 30px 60px;
  }
  .secondsection .left h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
  }
  .secondsection {
    margin: 10px 0;
  }
  .secondsection .content {
    margin-left: 10px;
  }
  .cannect-offer {
    padding: 30px 0;
  }
  .cannect-offer h2 {
    font-size: 26px;
    font-weight: 700;
    padding-top: 10px;
  }
  .cannect-offer p {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
  }
  .cannect-offer .card {
    width: 100%;
    text-align: left;
    background-color: #f3f9ff;
    min-height: 370px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 0;
  }
  .cannect-offer .card .card-title {
    font-size: 18px;
    font-weight: 600;
  }
  .cannect-offer .card .from {
    margin-top: 16px;
  }
  .footer {
    background-color: #445492;
    padding: 20px 0;
  }
  img.footer-logo {
    height: auto;
    max-width: 91px;
    width: 100%;
    max-height: 20px;
    object-fit: contain;
  }
  @media screen and (max-width: 991px) {
    .benefits-section {
      padding: 0;
    }
  }
  @media screen and (max-width: 767px) {
    .logo {
      padding: 16px;
    }
    .website-name {
      padding: 30px 16px;
    }
    .card-img-top {
      max-width: 90px;
      margin-bottom: 8px;
    }
  }
}
